#try{
    border: 7px dotted dimgrey;
    font-style: italic;
    font-size: 18;
    text-align: center;
    background-image: url("http://lim.spb.ru/img/e6d53b8d3ce5afa3596a416b4ef038db.jpg");
    background-size: cover;
    opacity: 1;
}
#ground{
    background: darkgray;
}
#val1,val2,val3{
    text-align: left;
}

#pryam{
    text-align: left;
}

#contacts {
    text-align: center;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: chocolate;
}